@import "../image/image.less";

@image-preview-margin-value: 5px;
@image-preview-size: 200px;
@image-preview-space-size: @image-preview-size + @image-preview-margin-value * 2;

@gallery-ver-margin: @global-content-padding - @image-preview-margin-value;
@gallery-max-image-preview-columns: ceil(@global-content-width / @image-preview-space-size);


@gallery-content-margin: @global-content-padding;

.gallery {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;

  margin: @gallery-ver-margin 0;

  &__wrapper {
    .screen-wrapper();

    min-width: 230px;
    padding: 0;
    margin: 0 @gallery-content-margin;

    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    width: @image-preview-space-size;

    .generate-media(@i: 1) when (@i =< @gallery-max-image-preview-columns) {
      @media (min-width: (@i * @image-preview-space-size  + @gallery-content-margin * 2)) and (max-width: ((@i + 1) * @image-preview-space-size  + @gallery-content-margin * 2)) {
        width: (@i * @image-preview-space-size);
      }
      .generate-media(@i + 1);
    }
    .generate-media();
  }

  &__image-preview {
    margin: @image-preview-margin-value;
  }

}


@image-preview-info-board-height: 30px;
@image-preview-transition-length: .18s;

.image-preview {
  display: block;

  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;

  overflow: hidden;

  width: @image-preview-size;
  height: @image-preview-size;

  border: solid 2px #000;
  background-color: #fff;
  background-size: cover;
  cursor: pointer;
  background-position: 0 0;

  transition: background-position @image-preview-transition-length linear 0s;

  &:hover {
    background-position: 0 -@image-preview-info-board-height/2;
  }

  &:hover &__info-board {
    transform: translateY(0);
  }

  &__info-board {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    //visibility: hidden;

    bottom: 0;
    transform: translateY(@image-preview-info-board-height);
    width: 100%;
    height: @image-preview-info-board-height;

    background-color: #000;

    transition: transform @image-preview-transition-length linear 0s;

    //&_active {
    //  visibility: visible;
    //}
  }

  &__text {
    font-size: 14px;
    line-height: 14px;
  }

  &_ghost {
    display: none;
  }

}