@import "../image/image.less";

@image-preview-margin-value: 5px;
@image-preview-size: 200px;
@image-preview-space-size: @image-preview-size + @image-preview-margin-value * 2;

@gallery-ver-margin: @global-content-padding - @image-preview-margin-value;
@gallery-max-image-preview-columns: ceil(@global-content-width / @image-preview-space-size);

@gallery-content-margin: @global-content-padding;

.gallery {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;

  margin: @gallery-ver-margin 0;

  &__wrapper {
    .screen-wrapper();

    min-width: 230px;
    padding: 0;
    margin: 0 @gallery-content-margin;

    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    width: @image-preview-space-size;

    .generate-media(@i: 1) when (@i =< @gallery-max-image-preview-columns) {
      @media (min-width: (@i * @image-preview-space-size  + @gallery-content-margin * 2)) and (max-width: ((@i + 1) * @image-preview-space-size  + @gallery-content-margin * 2)) {
        width: (@i * @image-preview-space-size);
      }
      .generate-media(@i + 1);
    }
    .generate-media();
  }

  &__image-preview {
    margin: @image-preview-margin-value;
  }

}

//@image-preview-info-board-height: 30px;
@image-preview-transition-duration: .18s;
@image-preview-designation-size: 14px;
@image-preview-info-board-padding: 20px;

.image-preview {
  display: block;

  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;

  overflow: hidden;

  width: @image-preview-size;
  height: @image-preview-size;

  border: solid 2px #000;
  background-color: #fff;
  background-size: cover;
  cursor: pointer;
  background-position: center;

  transition: background @image-preview-transition-duration linear 0s;

  &:hover {
    background-size: 110%;
  }

  &__info-board {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;

    padding: @image-preview-info-board-padding;
    width: 100%;
    height: 100%;
  }

  &__info-board::before {
    content: "";
    display: block;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0;

    transition: opacity @image-preview-transition-duration linear 0s;
  }

  &__like-section,
  &__comment-section {
    position: relative;
    font-size: @image-preview-designation-size;
    line-height: @image-preview-designation-size;

    display: flex;
  }

  &__comment-section {
    margin-bottom: 5px;
  }

  &__designation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: @image-preview-designation-size;
    overflow: hidden;
  }

  &__designation-text {
  }

  &__designation-symbol {
    width: @image-preview-designation-size;
    height: @image-preview-designation-size;
  }

  &__designation-text,
  &__designation-symbol {
    flex-shrink: 0;
    transition: transform @image-preview-transition-duration linear 0s;
  }

  &__comment-section &__designation-symbol {
    background-image: url('./bubble.svg');
  }
  &__like-section &__designation-symbol {
    background-image: url('./heart.svg');
  }

  &:hover &__designation-text {
    transform: translateY(-@image-preview-designation-size);
  }
  &:hover &__designation-symbol {
    transform: translateY(-@image-preview-designation-size);
  }

  &:hover &__info-board::before {
    opacity: .5;
  }

  &_ghost {
    display: none;
  }

}