@image-preview-margin-value: 5px;
@image-preview-size: 200px;
@image-preview-space-size: @image-preview-size + @image-preview-margin-value * 2;

@gallery-ver-margin: @global-vertical-distance;
@gallery-max-image-preview-columns: ceil(@global-content-width / @image-preview-space-size);

@gallery-content-margin: @global-content-padding;

//@image-preview-info-board-height: 30px;
@image-preview-transition-duration: .18s;
@image-preview-designation-size: 14px;
@image-preview-info-board-padding: 20px;
@image-preview-text-shadow-space: @global-notable-blur-size;

.image-preview {
  display: block;

  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;

  overflow: hidden;

  width: @image-preview-size;
  height: @image-preview-size;

  border: solid 2px #000;
  background-color: #fff;
  cursor: pointer;

  font-size: @image-preview-designation-size;
  line-height: @image-preview-designation-size;

  &__picture {
    position: absolute;

    top: 0;
    width: 100%;
    height: 100%;

    background-size: 100%;
    background-position: center;

    transition: transform @image-preview-transition-duration linear 0s;

  }

  &__picture::before {
    content: "";
    display: block;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0;

    transition: opacity @image-preview-transition-duration linear 0s;
  }

  &__info-board {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    box-sizing: border-box;

    padding: @image-preview-info-board-padding;
    width: 100%;
    height: 100%;

    //text-shadow: 0 0 @image-preview-text-shadow-blur #000;

    transition: text-shadow @image-preview-transition-duration linear 0s;

    .notable();
  }

  &__attainments {
  }

  &__metadata {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
  }

  &__upload-date-section {
    overflow: hidden;
    padding-top: @image-preview-text-shadow-space;
    padding-bottom: @image-preview-text-shadow-space;
  }

  &__upload-date-text {
    transform: translate(0, @image-preview-designation-size + 2 * @image-preview-text-shadow-space);
    transition: transform @image-preview-transition-duration linear 0s;
  }

  &__like-section,
  &__comment-section {
    position: relative;
    display: flex;
  }

  &__comment-section {

  }

  &__designation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    height: @image-preview-designation-size;
    padding: @image-preview-text-shadow-space;

    overflow: hidden;
  }

  &__designation-text {
    margin-top: @image-preview-text-shadow-space;
  }

  &__like-number,
  &__comment-number {
    padding: @image-preview-text-shadow-space 0;
    margin-right: 1px;
  }

  &__designation-symbol::before {
    position: relative;
    width: @image-preview-designation-size;
    height: @image-preview-designation-size;
  }

  &__designation-symbol {
    margin-bottom: @image-preview-text-shadow-space;
  }

  &__designation-text,
  &__designation-symbol {
    flex-shrink: 0;
    transition: transform @image-preview-transition-duration linear 0s;
  }

  //&__comment-section &__designation-symbol {
  //  background-image: url('./bubble.svg');
  //}
  //&__like-section &__designation-symbol {
  //  background-image: url('./heart.svg');
  //}

  &__upload-date-text,
  &__username {
    white-space: nowrap;
  }

  &__username {
    margin-top: @image-preview-text-shadow-space;
  }

  &:hover &__info-board {
    text-shadow: none;
  }

  &:hover &__designation-text {
    transform: translateY(-@image-preview-designation-size - 2 * @image-preview-text-shadow-space);
  }
  &:hover &__designation-symbol {
    transform: translateY(-@image-preview-designation-size - 2 * @image-preview-text-shadow-space);
  }

  &:hover &__picture {
    transform: scale(1.1);
  }

  &:hover &__picture::before {
    opacity: .5;
  }

  &:hover &__upload-date-text {
    transform: translate(0, 0);
  }

  &_ghost {
    display: none;
  }

}

.gallery {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;

  margin: @gallery-ver-margin 0;

  &__wrapper {
    .screen-wrapper();

    //min-width: 230px;
    //padding: 0;
    // margin: 0 @gallery-content-margin;

    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    // width: @image-preview-space-size;
    //max-width: @global-content-width - @gallery-content-margin;

    //.generate-media(@i: 1) when (@i =< @gallery-max-image-preview-columns) {
    //  //(min-width: (@i * @image-preview-space-size  + @gallery-content-margin * 2)) and
    //  @media  (max-width: ((@i + 1) * @image-preview-space-size  + @gallery-content-margin * 2)) {
    //    width: (@i * @image-preview-space-size);
    //  }
    //  .generate-media(@i + 1);
    //}
    //.generate-media();

    width: 100%;
  }

  &__image-preview {
    margin: @image-preview-margin-value;
  }

  @media (max-width: @global-small-screen-width) {

    margin: 0;

    &__wrapper {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    &__image-preview {
      width: 50%;
      margin: 0;
      border: 0;
      height: auto;
    }

    &__image-preview::before {
      content: "";
      display: block;
      padding-top: 100%;
      background-color: transparent;
    }

  }

  @media (max-width: 400px) {

    &__image-preview {
      width: 100%;
    }

  }

}