@import "../header/header.less";

@page-header-height: 42px;

.page-header {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	width: 100%;
	height: @page-header-height;
	z-index: 10;

	&__wrapper {
		.screen-wrapper();
		justify-content: space-between;
		align-items: center;

		height: 100%;
		//height: @header-height;
	}

	&__logo {
		width: 271px;
		height: 28px;
		background-image: url('logo.png');
	}

}

.pseudo-header {
	position: relative;
	width: 100%;
	height: @page-header-height;
}

.header-element {
	
	&_active,
	&:hover {
		background-color: #58a4d6;
		background-image: linear-gradient(to top, #3a86b8 1%, #2975a7 17%, #2975a7 42%, #58a4d6 45%, #58a4d6 69%, #90d2fd 92%);
	}

	&_ref {
		padding: 0 10px;
		line-height: @page-header-height;

		display: block;
		text-decoration: none;
		color: #fff;
	}
}