@import "../header/header.less";
@import "../logo/style.less";

@page-header-height: 42px;

.page-header {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	width: 100%;
	height: @page-header-height;
	z-index: 10;

    border-bottom: solid 2px #000;


	&__wrapper {
		.screen-wrapper();
		justify-content: space-between;
		align-items: center;

		height: 100%;
		//height: @header-height;
	}

	&__logo {

	}

}

.pseudo-header {
	position: relative;
	width: 100%;
	height: @page-header-height;
}

.header-element {
	
	&_active,
	&:hover {
		background-color: #58a4d6;
      background-image: linear-gradient(to top, #3a86b8 1%, #2975a7 47%, #58a4d6 52%, #90d2fd);
	}

	&_ref {
		padding: 0 10px;
		line-height: @page-header-height;

		display: block;
		text-decoration: none;
		color: #fff;
	}
}