.social-collection {
	&__add-section {
		display: flex;
		align-items: center;

	}

	&__social {



		margin-bottom: 20px;
	}



	&__protocol {
		width: 80px;
	}

	&__textbox-button {
		flex-shrink: 1;
	}




}

.social {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__close {
		width: 10px;
		height: 10px;
		cursor: pointer;
	}

	&:hover &__close {
		background-color: red;
	}

	&__link {
		display: flex;
		align-items: center;

	}

	&__icon {
		width: 30px;
		height: 30px;

		margin-right: 10px;

		background-color: white;
	}
}