.social-collection {


	&__social {

		display: flex;
		align-items: center;

		margin-bottom: 20px;
	}

	&__icon {
		width: 30px;
		height: 30px;

		margin-right: 10px;

		background-color: white;
	}


}