
<div class="panel comment {{#if ghost}}comment_ghost {{/if}}comments-section__comment" data-id="{{commentId}}" >
	<div class="comment__top-side">
		<div class="comment__avatar"></div>
		<div class="comment__metadata">
			<div class="comment__username">{{username}}</div>
			<div class="comment__date">{{date}}</div>
		</div>
		{{#if ownComment}}
			<div class="comment__close-button"></div>
		{{/if}}
	</div>
	<div class="comment__text">{{text}}</div>
</div>