{{#if icon}}
<li class="dropdown-item dropdown__item">
	<div class="dropdown-item__icon"></div>
	<div class="dropdown-item__text">{{caption}}</div>
</li>
{{else}}
<li class="dropdown-item dropdown__item">
	<div class="dropdown-item__text">{{caption}}</div>
</li>
{{/if}}