<a class="dropdown-item dropdown__item" href="{{link}}{{linkValue}}">
    {{#if icon}}
        <div class="dropdown-item__icon"></div>
    {{/if}}
    <span class="dropdown-item__text">{{caption}}</span>
</a>