<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__text">
            Frontend development, backend development and <span class="footer__no-wrap-part">design –</span> <span class="footer__no-wrap-part"><a target="_blank" class="footer__ref" href="mailto:aeternum-vale@ya.ru">Dedyulya
            Arthur</a>, 2017.</span><br/>
            This site is a non-commercial project for demonstration purposes only.
        </div>
        <div class="footer__logotype logotype"></div>
    </div>
</footer>