<header class="header page-header">
	<div class="page-header__wrapper">
		<a href="/">
			<div class="page-header__logo"></div>
		</a>

		
		{{> user-menu username="aeternum-vale"}}

	</div>
</header>