<header class="header page-header">
	<div class="page-header__wrapper">
		<a href="/">
			<div class="page-header__logo"></div>
		</a>

		{{#if loggedUser}}
			{{> user-menu 
				username="aeternum-vale"
				id="user-menu"
			}}
		{{else}}
			<a href="/authorization" class="header-element header-element_ref">log in / sign up</a>	
		{{/if}}
	
	</div>
</header>
<div class="pseudo-header"></div>