<div class="social-collection__social social" data-link="{{href}}">
    <a class="social__link" href="{{href}}">
        <div class="social__icon"></div>
        <span class="social__host">{{host}}</span>
    </a>
    <div class="social__close"></div>
</div>