<div class="stat stat-list__stat">
	<div class="stat__number" {{#if id}}id="{{id}}"{{/if}}>
	{{#if number}}
		{{number}}
	{{else}}
		0
	{{/if}}
	</div>
	<div class="stat__caption">{{property}}</div>
</div>