{{#if mix}}
<div class="textbox {{mix}}">
{{else}}
<div class="textbox">
{{/if}}
	<div class="textbox__info">
		<span class="textbox__caption">{{caption}}</span>
		<span class="textbox__error"></span>
	</div>
	<input type="text" class="textbox__field" />
</div>