
<div class="textbox{{#if parent}} {{parent}}__textbox{{/if}} textarea">
	<div class="textbox__info">
		<span class="textbox__caption">{{caption}}</span>
		<span class="textbox__error"></span>
	</div>
	<textarea name="{{name}}" class="textbox__field" placeholder="{{placeholder}}"></textarea>
</div>