<div id="{{id}}" class="header-element user-menu dropdown dropdown_invisible">

	<div class="user-menu__username">{{loggedUser.username}}</div>
	<div class="user-menu__avatar" style="background-image: url('{{loggedUser.avatarUrls.small}}')"></div>
	<div class="user-menu__arrow"></div>

	<div class="dropdown__item-list user-menu__item-list">
		{{> dropdown-item caption="view profile" link=loggedUser.url}}
		{{> dropdown-item caption="feed" link="/feed" }}
		{{> dropdown-item caption="settings" link="/settings" }}
		{{> dropdown-item caption="logout" link="/logout" }}
	</div>
</div>