<div class="user-menu user-menu_active">
	<div class="user-menu__username">aeternum-vale</div>
	<div class="user-menu__avatar"></div>
	<div class="user-menu__arrow"></div>

	<div class="dropdown user-menu__dropdown dropdown_active">
		{{> dropdown-item caption="view profile"}}
		{{> dropdown-item caption="upload"}}
		{{> dropdown-item caption="settings"}}
		{{> dropdown-item caption="logout"}}
	</div>
</div>