<div class="header window__header">
	image uploading
</div>
<div class="panel window__panel">
	<div class="file-picker window__file-picker">
		<span class="file-picker__filename">no file chosen</span>
		<div class="button file-picker__button">choose file</div>
	</div>

	{{#if nothing}}
		<div class="textbox window__textbox textarea">
			<div class="textbox__info">
				<span class="textbox__caption"></span>
				<span class="textbox__error"></span>
			</div>
			<textarea class="textbox__field" placeholder="description goes here…"></textarea>
		</div>
	{{/if}}

	<span class="window__error-message"></span>

	<div class="button button__window upload-image-button">upload</div>
</div>