<div class="window window_invisible modal-window upload-image-modal-window" id="upload-image-modal-window">
	<div class="header window__header">
		image uploading
	</div>
	<div class="panel window__panel">
		{{> partials/file-picker
			parent="upload-image-modal-window"
		}}
		{{> partials/textarea
			placeholder="description goes here…"
			parent="upload-image-modal-window"
		}}
		<span class="window__error-message"></span>
		<div class="button upload-image-modal-window__button">upload</div>
	</div>
</div>