@import "../modal-window/modal-window.less";

.upload-image-modal-window {
	& .window__panel {
		height: 260px;
		justify-content: space-between;
		padding: 20px;
	}

	& .window__button {
		margin: 0;
	}
}