@import "../spinner/style.less";
@import "../textarea/textarea.less";
@import "../button/button.less";
@import "../file-picker/file-picker.less";
@import "../modal-window/modal-window.less";

.upload-image-modal-window {
  &__file-picker {
    margin-bottom: 20px;
  }

  .window__panel {
    justify-content: space-between;
    padding: 20px;
  }

  &__button {
    margin: 0;
  }

  &__textarea {
    margin-bottom: 20px;
  }

  &__spinner {
    position: relative;
    width: 15px;
    height: 15px;
  }

  @media (max-width: @global-small-screen-width) {
    .flex-textbox();
  }

  @media (max-width: @global-xsmall-screen-width) {
    &__file-picker {
      flex-direction: column;
      width: 100%;

      .button {
        margin-left: 0;
      }
    }
  }

}