<div class="authorization">
	<div class="window">
		<div class="window__header">
			signing up
		</div>
		<div class="window__content">
			<div class="textbox window__textbox">
				<span class="textbox__caption">username</span>
				<input type="text" class="textbox__field" />
			</div>
			<div class="textbox window__textbox">
				<span class="textbox__caption">e-mail</span>
				<input type="text" class="textbox__field" />
			</div>
			<div class="textbox window__textbox">
				<span class="textbox__caption">password</span>
				<input type="text" class="textbox__field" />
			</div>
			<div class="button window__button">join</div>
			<div class="window__message">Already have an account? Log in</div>
		</div>
	</div>
</div>