{{#section 'scripts'}}
	<script defer src="/authorization.js"></script>
{{/section}}


<div id="auth-widget" class="auth-widget">

	<div class="window auth-window join-window window_invisible">
		<div class="header window__header">
			signing up
		</div>
		<form class="panel window__panel" action="/join" method="POST" name="join" role="form">
			{{> textbox name="username" caption="username" parent="window"}}
			{{> textbox name="email" caption="e-mail" parent="window"}}
			{{> textbox name="password" caption="password" type="password" parent="window"}}
			{{> textbox name="password-again" caption="password again" type="password" parent="window"}}
			<div class="button save-button window__button">join</div>

			<span class="window__message">
				Already have an account? <span class="ref">Log in</span>
			</span>
		</form>
	</div>

	<div class="window auth-window login-window">
		<div class="header window__header">
			logging in
		</div>
		<form class="panel window__panel" action="/login" method="POST" name="login" role="form">
			{{> textbox name="username" caption="username" parent="window"}}
			{{> textbox name="password" caption="password" type="password" parent="window"}}
			<div class="button save-button window__button">login</div>
			<span class="window__message">
				Don’t have an account? <span class="ref">Sign up</span>
			</span>
		</form>
	</div>

</div>
