<div class="authorization">
	<div class="window">
		<div class="window__header">
			signing up
		</div>
		<div class="window__content">
			<div class="textbox window__textbox">
				<span class="textbox__caption">username</span>
				<input type="text" class="textbox__field" />
			</div>
		</div>
	</div>
</div>
<script src="authorization.js"></script>