<div class="authorization">
	<div class="window">
		<div class="window__header">
			signing up
		</div>
		<div class="window__content">
			{{> textbox caption="username" mix="window__textbox"}}
			{{> textbox caption="e-mail" mix="window__textbox"}}
			{{> textbox caption="password" mix="window__textbox"}}

			{{> button caption="join" mix="window__button"}}
			<span class="window__message">Already have an account? Log in</span>
		</div>
	</div>
</div>