{{> page-header}}
<div class="pseudo-header"></div>
<div id="gallery" class="gallery">
    <div class="gallery__wrapper">

        {{#if feed}}
            {{#each feed}}
                {{> image-preview
                    isFeed=true
                }}
            {{/each}}
        {{/if}}
        {{> image-preview
                ghost=true
                comments='0'
                likes='0'
        }}

    </div>
</div>
{{> footer}}
