{{> page-header}}

<div class="cutaway-wrapper">
    {{#each cutaways}}
        {{> cutaway
                imagesTop=imagesTop
                imagesBottom=imagesBottom
        }}
    {{/each}}
</div>

{{> footer}}



