{{> page-header}}

<div class="cutaway-wrapper">
	{{#each cutaways}}
		{{> cutaway
			username=user.username
            userUrl=user.url
			imagesTop=imagesTop
			imagesBottom=imagesBottom
		}}
	{{/each}}
</div>

{{> footer}}
