{{> page-header}}

<div id="home" class="home">
    <div class="hint home__hint">
        This is where you can find some new artists you may like. Feel free to subscribe.
    </div>

    <div class="home__cutaways-wrapper">
        {{#each cutaways}}
            {{> cutaway
                    userId=user._id
                    imagesTop=imagesTop
                    imagesBottom=imagesBottom
                    parent="home"
            }}
        {{/each}}
    </div>

    <div class="home__spinner-wrapper">
        {{> spinner
                parent="home"
                invisible=true
        }}
    </div>


</div>

{{> footer}}




