<div class="image-post-wrapper">
	<div class="image-post-wrapper__image-post image-post">
		<div class="image-post__image-wrapper">
			<img class="image-post__image" src="/image2.jpg" alt="">
		</div>
		<div class="image-post__sidebar">
			<div class="image-post__top-side">
				<div class="header image-post__header">
					<div class="image-post__header-left-side">
						<div class="image-post__avatar">
							
						</div>
						<div class="image-post__metadata">
							<div class="image-post__username">ThirdEye</div> 
							<div class="image-post__post-date">18 Sep 2016</div> 
						</div>
					</div>
					
					<div class="button image-post__subscribe-button">
						subscribe
					</div>
				</div>
				<div class="image-post__info-board">
					<div class="button image-post__like-button">
						like 12
					</div>
					<div class="image-post__description">
						check out my new work! can you imagine this level of awesomeness, suckers?
					</div>

				</div>
				<div class="image-post__comments">

 					{{> comment 
 						username="hervrot"
 						date="25 Oct 2018"
 						text="fuck you!"
 					}}

 					{{> comment 
 						username="gonodemon"
 						date="25 Oct 2018"
 						text="asshole..."
 					}}

 					{{> comment 
 						username="blurp"
 						date="25 Oct 2018"
 						text="fuck off"
 					}}

				</div>
			</div>
			
			<div class="panel comment comment-send image-post__comment-send">
				<div class="comment__top-side">
					<div class="comment__avatar"></div>
					<div class="comment__username">aeternum-vale</div>
				</div>

				<textarea placeholder="share your opinion…" class="comment-send__textarea"></textarea>
				<div class="button comment-send__send-button">send</div>
			</div>
		</div>
	</div>	
</div>

