{{> header}}
<div class="pseudo-header"></div>
<div class="panel info-panel">
	<div class="info-panel__wrapper">
		<div class="person info-panel__person">
			<div class="person__avatar"></div>
			<div class="person__username">{{pageUser.username}}</div>
		</div>
		<div class="description">
			<div class="description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis illo dignissimos, fugiat accusamus beatae at, eius excepturi tenetur. Quasi ipsa quidem adipisci nostrum voluptatibus tempore voluptates iste. Provident, nulla, pariatur!
			</div>
			<div class="link-list-switch description__link-list-switch">
				<ul class="dropdown link-list-switch__dropdown">
					{{> dropdown-item caption="instagram" icon="true"}}
					{{> dropdown-item caption="deviantart" icon="true"}}
					{{> dropdown-item caption="facebook" icon="true"}}
				</ul>
			</div>

		</div>
	</div>
</div>
<div class="header extra-header">
	<div class="extra-header__wrapper">
		<div class="stat-list">
			{{> stat number=pageUser.subscribers.length property="subscribers"}}
			{{> stat number=pageUser.subscriptions.length property="subscriptions"}}
			{{> stat number=pageUser.images.length property="publications"}}
		</div>

		{{#if ownPage}}
			{{> button caption="upload" parent="extra-header" id="upload-button"}}
{{!-- 			<form name="upload-form" class="upload-form" action="/upload" role="form" enctype="multipart/form-data" method="POST">
				<input type="file" accept="image/*" name="photo">
			</form> --}}
		{{else}}
			{{> button caption="subscribe" parent="extra-header"}}
		{{/if}}
	</div>
</div>
<div class="gallery">
	<div class="gallery__wrapper">
		
		{{#each pageUser.images}}

			{{> image-preview 
				comments=comments.length
				likes=likes.length
				url=_id
				prefix=../imagePrefix
				postfix=../imagePostfix
				previewPostfix=../previewPostfix
			}}
		{{/each}}

	</div>
</div>
{{> footer}}

<div class="backdrop">
</div>

<div class="upload-window-wrapper">
	<div class="window upload-window upload-window-wrapper__window">
		<div class="window__header">
			image uploading
		</div>
		
		<form class="panel window__panel" action="/upload" method="POST" name="upload" role="form">
			{{> file-picker}}

			<textarea class="window__textarea" id="upoad_description" placeholder="description goes here..."></textarea>

			{{> button caption="upload" parent="window" id="upload"}}
		</form>
	</div>
</div>

