{{> header}}
<div class="pseudo-header"></div>
<div class="panel info-panel">
	<div class="info-panel__wrapper">
		<div class="person info-panel__person">
			<div class="person__avatar"></div>
			<div class="person__username">{{username}}</div>
		</div>
		<div class="description">
			<div class="description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis illo dignissimos, fugiat accusamus beatae at, eius excepturi tenetur. Quasi ipsa quidem adipisci nostrum voluptatibus tempore voluptates iste. Provident, nulla, pariatur!
			</div>
			<div class="description__link-list-switch">
				<ul class="dropdown description__dropdown dropdown_active">
					{{> dropdown-item caption="instagram" icon="true"}}
					{{> dropdown-item caption="deviantart" icon="true"}}
					{{> dropdown-item caption="facebook" icon="true"}}
				</ul>
			</div>

		</div>
	</div>
</div>
<div class="header extra-header">
	<div class="extra-header__wrapper">
		<div class="stat-list">
			{{> stat number="345" property="subscribers"}}
			{{> stat number="31" property="publications"}}
		</div>
		{{> button caption="subscribe" parent="extra-header"}}

	</div>
</div>
<div class="gallery">
	<div class="gallery__wrapper">
		{{> image-preview comments="12" likes="134"}}
		{{> image-preview comments="12" likes="134"}}
		{{> image-preview comments="12" likes="134"}}
		{{> image-preview comments="12" likes="134"}}
		{{> image-preview comments="12" likes="134"}}
		{{> image-preview comments="12" likes="134"}}
		{{> image-preview comments="12" likes="134"}}
		{{> image-preview comments="12" likes="134"}}
		{{> image-preview comments="12" likes="134"}}
		{{> image-preview comments="12" likes="134"}}
		{{> image-preview comments="12" likes="134"}}
	</div>
</div>
{{> footer}}

