{{> is-logged-script}}

{{> header}}
<div class="pseudo-header"></div>
<div class="panel info-panel">
	<div class="info-panel__wrapper">
		<div class="person info-panel__person">
			<div class="person__avatar"></div>
			<div class="person__username">{{pageUser.username}}</div>
		</div>
		<div class="description">
			<div class="description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis illo dignissimos, fugiat accusamus beatae at, eius excepturi tenetur. Quasi ipsa quidem adipisci nostrum voluptatibus tempore voluptates iste. Provident, nulla, pariatur!
			</div>
			<div class="link-list-switch description__link-list-switch">
				<ul class="dropdown link-list-switch__dropdown">
					{{> dropdown-item caption="instagram" icon="true"}}
					{{> dropdown-item caption="deviantart" icon="true"}}
					{{> dropdown-item caption="facebook" icon="true"}}
				</ul>
			</div>

		</div>
	</div>
</div>
<div class="header extra-header">
	<div class="extra-header__wrapper">
		<div class="stat-list">
			{{> stat number=pageUser.subscribers.length property="subscribers"}}
			{{> stat number=pageUser.subscriptions.length property="subscriptions"}}
			{{> stat number=pageUser.images.length property="publications"}}
		</div>

		{{#if ownPage}}
			{{> button caption="upload image" parent="extra-header" id="upload-window-caller"}}
		{{else}}
			{{> button caption="subscribe" parent="extra-header"}}
		{{/if}}
	</div>
</div>
<div class="gallery">
	<div class="gallery__wrapper">
		{{#if pageUser.images}}
			{{#each pageUser.images}}
				{{> image-preview 
					comments=comments.length
					likes=likes.length
					url=_id
					prefix=../imagePrefix
					postfix=../imagePostfix
					previewPostfix=../previewPostfix
				}}
			{{/each}}
		{{else}}
			{{> image-preview 
				ghost=true
				comments='0'
				likes='0'
			}}
		{{/if}}
	</div>
</div>
{{> footer}}

<div class="backdrop backdrop_invisible"></div>

<div class="upload-window-wrapper upload-window-wrapper_invisible">
	<div class="window upload-window upload-window-wrapper__window">
		<div class="window__header">
			image uploading
		</div>
		
		<div class="panel window__panel">
			{{> file-picker id="uploadImageFilePicker"}}

			<textarea class="window__textarea" id="upload_description" placeholder="description goes here…"></textarea>

			{{> button caption="upload" parent="window" id="upload-button"}}
		</div>
	</div>
</div>

