{{> header}}
<div class="pseudo-header"></div>
<div class="panel info-panel">
	<div class="info-panel__wrapper">
		<div class="person">
			<div class="person__avatar"></div>
			<div class="person__username">aeternum-vale</div>
		</div>
		<div class="description">
			<div class="description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis illo dignissimos, fugiat accusamus beatae at, eius excepturi tenetur. Quasi ipsa quidem adipisci nostrum voluptatibus tempore voluptates iste. Provident, nulla, pariatur!
			</div>
			<div class="description__link-list-switch"></div>
		</div>
	</div>
</div>
<div class="header extra-header">
	<div class="extra-header__wrapper">
		<div class="stat-list">
			<div class="stat">
				<div class="stat__number">345</div>
				<div class="stat__caption">subscribers</div>
			</div>
			<div class="stat">
				<div class="stat__number">31</div>
				<div class="stat__caption">publications</div>
			</div>
		</div>
		{{> button caption="subscribe" parent="extra-header"}}
	</div>
</div>
