{{> page-header}}
<div class="pseudo-header"></div>
<div class="panel info-panel">
	<div class="info-panel__wrapper">
		<div class="person info-panel__person">
			<div class="person__avatar"></div>
			<div class="person__username">{{pageUser.username}}</div>
		</div>
		<div class="description">
			<div class="description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis illo dignissimos, fugiat accusamus beatae at, eius excepturi tenetur. Quasi ipsa quidem adipisci nostrum voluptatibus tempore voluptates iste. Provident, nulla, pariatur!
			</div>
			<div class="link-list-switch description__link-list-switch">
				<ul class="dropdown link-list-switch__dropdown">
					{{> dropdown-item caption="instagram" icon="true"}}
					{{> dropdown-item caption="deviantart" icon="true"}}
					{{> dropdown-item caption="facebook" icon="true"}}
				</ul>
			</div>

		</div>
	</div>
</div>
<div class="header page-header extra-header">
	<div class="extra-header__wrapper">
		<div class="stat-list">
			{{> stat number=pageUser.subscribers.length property="subscribers" id="subscribers-number"}}
			{{> stat number=pageUser.subscriptions.length property="subscriptions"}}
			{{> stat number=pageUser.images.length property="publications" id="publication-number"}}
		</div>

		{{#if ownPage}}
			<div class="button extra-header__button" id="upload-window-caller">
				upload image
			</div>
		{{else}}
			<div id="subscribe-button" 
			{{#if isSubscribed}}
				data-checked="true"
				class="button button_active extra-header__button extra-header__button_active">
			{{else}}
				class="button extra-header__button">
			{{/if}}				
				subscribe
			</div>

		{{/if}}
	</div>
</div>
<div class="gallery">
	<div class="gallery__wrapper">
		{{#if pageUser.images}}
			{{#each pageUser.images}}
				{{> image-preview 
					comments=comments.length
					likes=likes.length
					previewUrl=previewUrl
					imageId=_id
				}}
			{{/each}}
		{{else}}
			{{> image-preview 
				ghost=true
				comments='0'
				likes='0'
			}}
		{{/if}}
	</div>
</div>
{{> footer}}



<div class="backdrop backdrop_invisible"></div>
<div class="upload-window-wrapper upload-window-wrapper_invisible"> 
	<div id="upload-window" class="window window_invisible modal-window  upload-window">
		<div class="header window__header">
			image uploading
		</div>
		
		<div class="panel window__panel">
			{{> file-picker}}

			<textarea class="window__textarea" placeholder="description goes here…"></textarea>

			<span class="window__error-message"></span>

			<div class="button button__window upload-image-button">upload</div>
		</div>
	</div>
</div>

