@import "../../style/global.less";
@import '../../blocks/message-modal-window/message-modal-window';
@import "../../blocks/upload-image-modal-window/upload-image-modal-window.less";
@import "../../blocks/prompt-window/prompt-window.less";
@import "../../blocks/page-header/page-header.less";
@import "../../blocks/panel/panel.less";
@import "../../blocks/button/button.less";
@import "../../blocks/footer/footer.less";
@import "../../blocks/user-menu/user-menu.less";
@import "../../blocks/file-picker/file-picker.less";
@import "../../blocks/spinner/style.less";
@import "../../blocks/gallery/gallery.less";


@passport-avatar-size: 150px;
//@passport-height: @passport-avatar-size;
@passport-data-max-height: @passport-avatar-size;

@passport-avatar-gap: 40px;

@stat-number-font-size: 30px;
@stat-caption-font-size: 12px;
@image-preview-margin: 15px;
@gallery-ver-margin: @global-content-padding - @image-preview-margin;


@passport-standart-font-size: 40px;
@passport-standart-small-font-size: 8vw;

@passport-username-font-size-ratio: 1;
@passport-description-font-size-ratio: .5;
@passport-links-font-size-ratio: .35;


@passport-text-gap: @passport-standart-font-size / 2;
@passport-small-text-gap: @passport-standart-small-font-size / 2;

.passport {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;

  background-color: #383838;
  box-shadow: inset 0 -40px 60px rgba(0, 0, 0, .35);

  &__wrapper {
    .screen-wrapper();
    align-items: center;
  }

  &__avatar {
    .avatar(@passport-avatar-size);
    margin: @passport-avatar-gap;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    //max-height: @passport-data-max-height;
    margin-bottom: @passport-avatar-gap;
    max-width: 400px;
  }

  &__backdrop {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: @global-hint-color;
  }

  &__backdrop-side {
    height: 100%;
    width: @passport-avatar-gap;
    background-color: @global-hint-color;
  }

  &__username {
    @_font-size: @passport-standart-font-size * @passport-username-font-size-ratio;
    height: @_font-size;
    line-height: @_font-size;
    font-size: @_font-size;

    white-space: nowrap;
    font-weight: bold;

  }

  &__description {
    @_font-size: @passport-standart-font-size * @passport-description-font-size-ratio;
    height: @_font-size;
    line-height: @_font-size;
    font-size: @_font-size;
    margin-top: @passport-text-gap;
  }

  &__links {
    @_font-size: @passport-standart-font-size * @passport-links-font-size-ratio;
    height: @_font-size;
    line-height: @_font-size;
    font-size: @_font-size;
    margin-top: @passport-text-gap;
  }

  &__link:hover {
    color: @global-main-color-light;
  }

  &__link::after {
    content: '\00B7';
  }

  &__link:hover::after {
    color: #fff;
  }

  &__link:last-child::after {
    content: none;
  }

  @media (max-width: @global-small-screen-width) {

    &__wrapper {
      padding: 0;
    }

    &__backdrop {
      width: 100%
    }

    &__backdrop-side {
      display: none;
    }

    &__avatar {
      margin: @passport-small-text-gap;
    }

    &__data {
      margin-bottom: @passport-small-text-gap * 2;
    }

    &__username {
      @_font-size: @passport-standart-small-font-size * @passport-username-font-size-ratio;
      height: @_font-size;
      line-height: @_font-size;
      font-size: @_font-size;
    }

    &__description {
      @_font-size: @passport-standart-small-font-size * @passport-description-font-size-ratio;
      height: @_font-size;
      line-height: @_font-size;
      font-size: @_font-size;
      margin-top: @passport-small-text-gap;
    }

    &__links {
      @_font-size: @passport-standart-small-font-size * @passport-links-font-size-ratio;
      height: @_font-size;
      line-height: @_font-size;
      font-size: @_font-size;
      margin-top: @passport-small-text-gap;

    }

  }

}

.extra-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  //z-index: 2;

  border-top: solid @page-header-border-width #000;

  &__wrapper {
    .screen-wrapper();
    justify-content: space-between;
  }
  &__button {
    .button(16px);
  }
  &__button.button_active {
    .button-active(16px);
  }

  @media (max-width: @global-small-screen-width) {

  }

  @media (max-width: @global-xsmall-screen-width) {
    &__button {
      .button(@global-small-size-ratio * 16px);
    }
  }

}

.stat-list {
  display: flex;
  &__stat {
    margin-right: 20px;
  }

  @media (max-width: @global-small-screen-width) {
    &__stat {
      margin-right: 2vw;
    }
  }

}


@stat-number-small-font-size: 5vw;
@stat-number-icon-size-ratio: .8;

.stat {
  display: flex;
  align-items: center;
  &__number {
    margin-right: 5px;
    font-size: @stat-number-font-size;
    line-height: @stat-number-font-size;
    font-weight: bold;
  }
  &__caption {
    font-size: @stat-caption-font-size;
    line-height: @stat-caption-font-size;
  }

  &__icon {
    display: none;
    font-size: @stat-number-font-size * @stat-number-icon-size-ratio;
    align-self: center;
  }

  @media (max-width: @global-small-screen-width) {

    &__number {
      margin-right: 1vw;
      font-size: @stat-number-small-font-size;
      line-height: @stat-number-small-font-size;
    }

    &__icon {
      font-size: @stat-number-small-font-size * @stat-number-icon-size-ratio;
    }

    &__caption {
      display: none;
    }

    &__icon {
      display: block;
    }

  }

}
