@import "../../style/global.less";


@import "../../blocks/header/header.less";
@import "../../blocks/panel/panel.less";
@import "../../blocks/button/button.less";
@import "../../blocks/dropdown/dropdown.less";
@import "../../blocks/footer/footer.less";
@import "../../blocks/user-menu/user-menu.less";
@import "../../blocks/window/window.less";
@import "../../blocks/file-picker/file-picker.less";

@avatar-size: 245px;
@avatar-border-size: 8px;
@username-offset: 10px;
@username-font-size: @large-font-size;
@info-panel-height: @avatar-size + @avatar-border-size * 2 + @username-font-size + @username-offset + @global-content-padding * 2;

@link-list-switch-size: 42px;
@link-list-switch-offset: 10px;

@description-wrapper-height: @avatar-size + @avatar-border-size * 2 + @username-font-size + @username-offset;
@description-height: @description-wrapper-height - @link-list-switch-size - @link-list-switch-offset;

@stat-number-font-size: 30px;
@stat-caption-font-size: 12px;

@image-preview-margin: 15px;
@gallery-ver-margin: @global-content-padding - @image-preview-margin;


.pseudo-header {
	position: relative;
	width: 100%;
	height: @header-height;
}

.info-panel {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: @info-panel-height;

	&__wrapper {
		.screen-wrapper();
	}

	&__person {
		margin-right: @global-content-padding;
	}
}

.person {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	
	&__avatar {
		width: @avatar-size;
		height: @avatar-size;
		border-radius: @avatar-border-size;
		border: solid @avatar-border-size @global-attention-color;
		background-color: #fff;
	}

	&__username {
		margin-top: @username-offset;
		font-size: @large-font-size;
		line-height: @large-font-size;
	}
}

.description {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	max-height: @description-wrapper-height;


	&__text {
		max-height: @description-height;
		overflow: hidden;

		font-size: @large-font-size;
		text-align: right;
	}

	&__link-list-switch {
		margin-top: 10px;
	}

}

.link-list-switch {
	position: relative;
	width: 42px;
	height: 42px;
	
	border-radius: 50%;

	cursor: pointer;
	background-image: url('images/link-list-switch.png');

	&_active {
		background-image: url('images/link-list-switch-active.png');
	}

	&__dropdown {
		top: 42px;
		right: 42px;
	}

	&_active &__dropdown {
		visibility: visible;
	}

}


.extra-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;

	&__wrapper {
		.screen-wrapper();
		justify-content: space-between;
	}

	&__button {
		.button(16px);
		padding-left: 20px;
		padding-right: 20px;
	}
}

.stat-list {
	display: flex;

	&__stat {
		margin-right: 20px;
	}
}

.stat {
	display: flex;
	align-items: flex-start;
	
	&__number {
		margin-right: 5px;
		font-size: @stat-number-font-size;
		line-height: @stat-number-font-size;
		font-weight: bold;
	}

	&__caption {
		font-size: @stat-caption-font-size;
		line-height: @stat-caption-font-size;
	}
}

.gallery {
	position: relative;
	display: flex;
	justify-content: center;


	width: 100%;

	margin: @gallery-ver-margin 0;

	&__wrapper {
		.screen-wrapper();

		position: relative;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	&__image-preview {
		margin: @image-preview-margin;
	}
}

.image-preview {
	flex-shrink: 0;
	box-sizing: border-box;
	position: relative;

	width: 200px;
	height: 200px;
	
	border: solid 1px #000;
	background-color: #fff;
	background-size: cover;
	background-position: center;


	cursor: pointer;



	&:hover {
		border: solid 6px @global-main-color;
	}

	&:hover &__info-board {
		visibility: visible;
	}

	&__info-board {
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		visibility: hidden;

		bottom: 0;
		width: 100%;
		height: 50px;
		
		background-color: #000;

		&_active {
			visibility: visible;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 14px;
	}

	&_ghost {
		display: none;
		visibility: hidden;
	}

}

.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;


	visibility: visible;
	background-color: #000;
	opacity: .6;
	z-index: 15;

	&_invisible {
		visibility: hidden;
	}
}


.upload-window-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 16;
	visibility: visible;


	&__window {
		
	}

	&_invisible {
		visibility: hidden;
	}
}

.upload-window {
	position: fixed;

	& .window__panel {
		height: 260px;
		justify-content: space-between;
		padding: 20px;
	}

	& .window__button {
		margin: 0;
	}
}
