@import "../textbox/textbox.less";
@import "../button/button.less";

@textbox-button-button-width: 70px;

.textbox-button {
  display: flex;

  &__textbox .textbox__field {
    width: @textbox-field-width - @textbox-button-button-width;
    border-radius: @textbox-field-border-radius 0 0 @textbox-field-border-radius;

  }

  &__textbox::before {
    width: @textbox-field-width - @textbox-button-button-width + @textbox-field-border * 2;
    border-radius: @textbox-field-border-radius 0 0 @textbox-field-border-radius;

  }

  &__button {
    .button(@medium-font-size);
    width: @textbox-button-button-width;
    height: @textbox-field-height + @textbox-field-border * 2;
    margin-top: @textbox-caption-gap - @textbox-field-border;

    border-radius: 0 @textbox-field-border-radius @textbox-field-border-radius 0;
  }
}