@import "../../blocks/modal/style.less";
@import "../../blocks/header/header.less";
@import "../../blocks/button/button.less";
@import "../../blocks/panel/panel.less";
@import "../../blocks/comment-section/comment-section.less";
@import "../../blocks/like-button/like-button.less";

@image-owner-avatar-size: 45px;
@image-header-height: 70px;
@image-padding: (@image-header-height - @image-owner-avatar-size) / 2;
@image-header-verp-padding: @image-padding;
@image-border-size: 2px;
@image-comment-send-height: 180px;
@image-gap: 10px;
@image-close-wrapper-width: 20px;
@image-close-wrapper-gap: 5px;
@image-border-radius: 10px;

@image-close-button-size: 20px;
@image-modal-close-button-gap: @modal-close-button-gap;

.image {

  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(~"100% - @{image-gap} - @{image-close-button-size} - 2 * @{image-modal-close-button-gap}");
  height: calc(~"100% - 2 * @{image-gap}"); //min-width: 90%;
  margin-right: -@image-gap + @image-close-button-size + 2 * @image-modal-close-button-gap;
 // margin-right:  @image-close-button-size + 2 * @image-modal-close-button-gap;

  flex-shrink: 0;
  flex-grow: 0;
  border-radius: @image-border-radius;
  box-shadow: 0 0 8px 10px rgba(0, 0, 0, .3);
  &__modal-close-button {
    right: -(@image-close-button-size + @image-modal-close-button-gap);
    width: @image-close-button-size;
    height: @image-close-button-size;
  }

  &__controls {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    bottom: 10px;
  }
  &__control {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border: solid 3px #555;
    border-radius: 4px;
    cursor: pointer;
    //background-image: linear-gradient(to bottom, #868989, transparent);
    background-color: rgb(73, 73, 73);
  }
  &__control:last-child {
    margin-right: 0;
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    //overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;

    border-radius: @image-border-radius 0 0 @image-border-radius;
    background-color: #000;
  }
  &__img-element {
    flex-shrink: 0;
    flex-grow: 0;

    max-width: 100%;
    max-height: 100%;
  }

  &_img-element-invisible &__img-element {
    visibility: hidden;
  }

  &__sidebar {
    position: relative;
    box-sizing: border-box;
    height: 100%; // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 0;
    width: 340px;
    min-width: 340px;

    border-left: solid @image-border-size #000;
    background-color: @global-panel-color;
  }
  &__top-side {
    position: relative;
    height: calc(~"100% - @{image-comment-send-height}");
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    height: @image-header-height;
    padding: 0 @image-header-verp-padding;
    border-bottom: solid @image-border-size #000;
    border-top-right-radius: @image-border-radius;
  }
  &__header-left-side {
    display: flex;
  }
  &__avatar {
    .avatar(@image-owner-avatar-size);
    margin-right: @image-padding;
  }
  &__metadata {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__username {
  }
  &__post-date {
    font-size: 10px;
    line-height: 10px;
  }
  &__top-side-button {
    .button(14px);
  }
  &__top-side-button.button_active {
    .button-active(14px);
  }
  &__info-board {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    padding: @image-padding;
    border-bottom: solid @image-border-size #000;
    background-color: @global-panel-color;
  }
  &__like-button {
    margin-bottom: @image-padding;
  }
  &__description {
  }
  &__comment-section {
    position: relative;
    flex-grow: 1;
  }
  &__comment-send {
    flex-shrink: 0;
    border-bottom-right-radius: @image-border-radius;
  }

  &_invisible {
    display: none;
  }

}
