@import "../../blocks/spinner/style.less";
@import "../../blocks/header/header.less";
@import "../../blocks/button/button.less";
@import "../../blocks/panel/panel.less";
@import "../../blocks/comment-section/comment-section.less";
@import "../../blocks/like-button/like-button.less";
@import "../../blocks/modal-window/modal-window.less";

@image-owner-avatar-size: 45px;
@image-header-height: 70px;
@image-padding: (@image-header-height - @image-owner-avatar-size) / 2;
@image-header-verp-padding: @image-padding;
@image-border-size: 2px;
@image-comment-send-height: 180px;
@image-gap: 10px;
@image-close-wrapper-width: 20px;
@image-close-wrapper-gap: 5px;
@image-border-radius: 10px;

@image-close-button-size: 20px;
@image-modal-close-button-gap: @modal-close-button-gap;

@image-sidebar-width: 340px;

@image-scrollbar-width: 10px;
@image-native-scrollbar-offset: 150px;

.image {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(~"100% - @{image-gap} - @{image-close-button-size} - 2 * @{image-modal-close-button-gap}");
  height: calc(~"100% - 2 * @{image-gap}"); //min-width: 90%;
  margin-right: -@image-gap + @image-close-button-size + 2 * @image-modal-close-button-gap;
  // margin-right:  @image-close-button-size + 2 * @image-modal-close-button-gap;

  flex-shrink: 0;
  flex-grow: 0;
  border-radius: @image-border-radius;
  box-shadow: 0 0 8px 10px rgba(0, 0, 0, .3);

  &__modal-close-button-wrapper {
    position: absolute;
    //top: @window-header-height / 2 - @modal-close-button-size / 2;
    top: 0;
    right: -(@image-close-button-size + @image-modal-close-button-gap * 2);
    width: @image-close-button-size + @image-modal-close-button-gap * 2;
    max-width: @image-close-button-size + @image-modal-close-button-gap * 2;
    height: 100%;
  }

  &__modal-close-button {
    position: relative;
    left: @image-modal-close-button-gap;
    font-size: @image-close-button-size;
    width: @image-close-button-size;
    height: @image-close-button-size;

  }

  &__modal-close-button-wrapper:hover &__modal-close-button {
    opacity: @global-opacity-medium;
  }

  &__controls {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding-bottom: 10px;
    z-index: 3;
  }
  &__control {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 70px;
    height: 70px;
    //margin-right: 10px;
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;

    //border-radius: @global-border-radius;
    cursor: pointer;
    //background-image: linear-gradient(to bottom, #868989, transparent);
    background-color: #000;

    font-size: 50px;

    opacity: 0;

    transition: @global-close-button-transition;;
  }

  &__control:first-child {
    border-radius: @global-border-radius 0 0 @global-border-radius;
    border-left: solid 2px #fff;
  }

  &__control:last-child {
    border-radius: 0 @global-border-radius @global-border-radius 0;
    border-right: solid 2px #fff;
  }

  &__image-wrapper:hover &__control {
    opacity: @global-opacity-low;
  }

  &__image-wrapper &__controls:hover &__control {
    opacity: (@global-opacity-low + @global-opacity-medium) / 2;
  }

  &__image-wrapper &__controls &__control:hover {
    opacity: @global-opacity-medium;
  }

  &__control:last-child {
    margin-right: 0;
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 300px;

    //overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;

    border-radius: @image-border-radius 0 0 @image-border-radius;
    background-color: #000;
  }
  &__img-element {
    //position: absolute;
    flex-shrink: 0;
    flex-grow: 0;

    max-width: 100%;
    max-height: 100%;

    z-index: 2;

  }

  &_img-element-invisible &__img-element {
    visibility: hidden;
  }

  &__sidebar {
    position: relative;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    width: @image-sidebar-width;
    min-width: @image-sidebar-width;

    border-left: solid @image-border-size #000;
    background-color: @global-panel-color;

    border-top-right-radius: @image-border-radius;
    border-bottom-right-radius: @image-border-radius;
  }
  &__top-side {
    position: relative;
    height: calc(~"100% - @{image-comment-send-height}");
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    height: @image-header-height;
    padding: 0 @image-header-verp-padding;
    border-bottom: solid @image-border-size #000;
    border-top-right-radius: @image-border-radius;
  }
  &__header-left-side {
    display: flex;
  }
  &__avatar {
    .avatar(@image-owner-avatar-size);
    margin-right: @image-padding;
  }
  &__metadata {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__username {
    font-size: @medium-font-size;
    height: @medium-font-size;
    line-height: @medium-font-size;
    white-space: nowrap;
  }
  &__post-date {
    font-size: 10px;
    line-height: 10px;
    height: 10px;

  }
  &__top-side-button {
    .button(14px);
  }
  &__top-side-button.button_active {
    .button-active(14px);
  }
  &__info-board {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    padding: @image-padding;
    border-bottom: solid @image-border-size #000;
    background-color: @global-panel-color;
    box-sizing: border-box;

  }
  &__like-button {

  }
  &__description {
    margin-top: @image-padding;
  }

  &_no-description &__description {
    display: none;
  }

  &__comment-section-wrapper {
    position: relative;
    flex-grow: 1;

    min-width: @image-sidebar-width + @image-native-scrollbar-offset;
    height: 100%;

    overflow-y: auto;
  }

  &__comment-section {
    position: relative;
    width: @image-sidebar-width;

  }

  &__comment-section-scrollbar-wrapper {
    position: absolute;
    right: 0;
    top: @image-header-height + @image-border-size;
    height: calc(~"100% - @{image-header-height} - @{image-border-size}");
    width: @image-scrollbar-width;

    max-height: 100%;
  }

  &__comment-section-scrollbar {
    position: relative;
    left: 0;
    width: @image-scrollbar-width;
    box-sizing: border-box;
    border-left: solid @image-border-size #000;

  }

  &__comment-section-scrollbar-offset {
    position: relative;
    top: 0;

    width: 100%;
  }

  &__comment-section-slider {
    position: relative;
    top: 0;

    width: 100%;
    height: 20px;
    background-color: lighten(@global-panel-color, 20%);
  }

  &__comment-section .comment {
    max-width: @image-sidebar-width - @image-scrollbar-width;
    min-width: @image-sidebar-width - @image-scrollbar-width;
  }

  &_no-scrollbar .comment {
    max-width: none;
    min-width: 0;
  }

  &_no-scrollbar&__comment-section-scrollbar-wrapper {
    display: none;
  }

  &__comment-send {
    flex-shrink: 0;
    border-bottom-right-radius: @image-border-radius;
  }

  &__spinner {
    z-index: 1;
    width: 30px;
    height: 30px;
  }

  &_invisible {
    display: none;
  }

  //small-------------------

  @media (max-width: @global-small-screen-width) {

    position: absolute;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: auto;

    flex-shrink: 0;


    &__image-wrapper:hover &__control {
      opacity: @global-opacity-high;
    }

    &__image-wrapper &__controls:hover &__control {
      opacity: @global-opacity-high;
    }

    &__image-wrapper &__controls &__control:hover {
      opacity: @global-opacity-high;
    }

    &__controls {
      padding-bottom: 0;
    }

    &__control {
      height: 50px;
      margin-right: 0;
      border: 0;
      border-radius: 0;
      opacity: @global-opacity-high;

      font-size: 25px;
      background-color: transparent;
      border: none;
      .notable();
    }

    &__control:first-child {
      border-left: 0;
    }

    &__control:last-child {
      border-right: 0;
    }

    &__modal-close-button-wrapper {
      right: @image-close-button-size;
      top: @image-close-button-size;
      width: auto;
      height: auto;
    }

    &__modal-close-button {
      left: 0;
      top: 0;
      z-index: 3;
      .notable();

      opacity: @global-opacity-high;
    }

    &:hover &__modal-close-button {
      opacity: @global-opacity-high;
    }

    &__modal-close-button-wrapper:hover &__modal-close-button {
      opacity: @global-opacity-high;
    }

    &__image-wrapper {
      flex-shrink: 0;
      height: auto;
    }

    &__comment-section-scrollbar-wrapper {
      display: none;
      // top: @image-header-height + @image-border-size * 2;
    }

    &__sidebar {
      width: 100%;
      height: auto;

      min-width: 0;
      border-top-right-radius: 0;
      border: none;
    }

    &__header {
      border-top-right-radius: 0;
      border-top: solid @image-border-size #000;

    }

    &__comment-section-wrapper {
      max-height: 400px;
      width: 100%;
      max-width: none;
      min-width: 0;
    }

    &__comment-section {
      width: 100%;
      min-height: 100%;
    }

    .comment {
      width: 100%;
      max-width: none;
      min-width: 0;

    }

    &_no-scrollbar .comment {
      width: 100%;
      max-width: none;
      min-width: 0;
    }

    .comment__close-button {
      opacity: .5;
    }

    &__comment-send.comment {
      width: 100%;
      max-width: none;
      min-width: 0;
      border-radius: 0;
    }

  }

}
