.header {
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

  background-color: @global-main-color;
  background-image: linear-gradient(to top, @global-main-color-dark, @global-main-color-medium-dark 47%, @global-main-color 52%, @global-main-color-light);
}