@field-width: 326px;
@field-height: 50px;
@field-border: 4px;
@field-border-radius: 8px;
@textbox-caption-gap: 10px;

.textbox {
	position: relative;

	margin-bottom: @field-border;

	&::before {
		content: "";

		display: block;
		position: absolute;
		top: -@field-border;
		left: -@field-border;
		
	 	width: @field-width + @field-border * 2;
	 	height: @field-height + @field-border * 2;

		margin-top: @medium-font-size + @textbox-caption-gap;

		border-radius: @field-border-radius;

		background-color: #bfd2da;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
		transition: background-color .5s;

	}

	&__field {
		position: relative;
		width: @field-width;
		height: @field-height;

		box-sizing: border-box;
		margin-top: @textbox-caption-gap;
		padding-left: @field-border-radius;

		border-width: 0px;
		border-radius: @field-border-radius;

		background-color: #9eadb4;
		box-shadow: inset 0 6px 13px rgba(0,0,0,.61);
		font-size: @large-font-size;
	}

	&__info {
		position: relative;
		height: @medium-font-size;
		padding-left: @field-border-radius;
	}

	&__caption {
		font-size: @medium-font-size;
		line-height: @medium-font-size;
		color: #fff;
	}

	&__error {
		font-size: @small-font-size;
		line-height: @small-font-size;
		color: #f00;
	}

	&_focus::before {
		background-color: #76d2ff;
		//background-image: linear-gradient(to top, #0e78ac, #76d2ff);
	}
}
