@import "../button/button.less";

.file-picker {

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	&__button {
		.button(@medium-font-size);
		margin-left: 10px;
		flex-shrink: 0;
	}
	
	&__filename {

		white-space: nowrap;
		overflow: hidden;

		font-size: @medium-font-size;
	}

	&__input {
		display: none;
		visibility: hidden;
	}
}
