.screen-wrapper() {
	display: flex;
	justify-content: center;
	position: relative;
	box-sizing: border-box;

	width: 100%;
	max-width: @global-content-width;
	min-width: 540px;
	padding: 0 @global-content-padding;
}