@path-to-blocks: "../../blocks/";

@large-font-size: 24px; //window header
@medium-font-size: 18px; //window content
@small-font-size: 12px;



@global-content-padding: 50px;
@global-content-width: 1200px + @global-content-padding * 2;

@global-attention-color: #dfac1d;

@global-main-color: #455b6b;
@global-main-color-light: #566f82;

@global-panel-color: #1c1618;

@global-text-color: #fff;