@path-to-blocks: "../../blocks/";

@large-font-size: 24px; //window header
@medium-font-size: 18px; //window content
@small-font-size: 12px;



@global-content-padding: 50px;
@global-content-width: 1200px + @global-content-padding * 2;

@global-border-radius: 8px;

@global-attention-color: #dfac1d;

@global-main-color: #385a78;
@global-main-color-dark: #192836;
@global-main-color-medium-dark: #2c465e;
@global-main-color-medium: #477197;
@global-main-color-light: #568ab8;


@global-panel-color: #2e2e2e;

@global-text-color: #fff;

@global-background-color: #262626;

@global-hint-color: rgba(0, 0, 0, .3);
