@import "../../style/global.less";
@import "../../blocks/spinner/style.less";
@import "../../blocks/window/window.less";
@import "../../blocks/button/button.less";
@import "../../blocks/prompt-window/prompt-window.less";
@import '../../blocks/message-modal-window/message-modal-window';
@import "../../blocks/page-header/page-header.less";
@import "../../blocks/footer/footer.less";
@import "../../blocks/user-menu/user-menu.less";
@import "../../blocks/hint/style.less";


@cutaway-header-padding: 6px;
@cutaway-avatar-size: 54px;
@cutaway-button-font-size: 21px;
@cutaway-button-small-font-size: @global-small-size-ratio * @cutaway-button-font-size;
@cutaway-button-height: @cutaway-button-font-size + (@cutaway-button-font-size / @button-padding-reduc-rate) * 2;
@cutaway-header-padding-right: (@cutaway-avatar-size + @cutaway-header-padding * 2 - @cutaway-button-height) / 2;
@cutaway-width: 500px;
@cutaway-panel-width: @cutaway-width - @window-border-width * 2;
@cutaway-panel-height: 290px;
@cutaway-image-preview-margin: 10px;
@cutaway-image-preview-size: (@cutaway-panel-height - @cutaway-image-preview-margin * 3) * 2 / 3;
@cutaway-image-preview-count: 6;
@cutaway-image-preview-wrapper-width: @cutaway-image-preview-size * @cutaway-image-preview-count + @cutaway-image-preview-margin * (@cutaway-image-preview-count + 1);
@cutaway-image-preview-wrapper-offset: (@cutaway-image-preview-size + @cutaway-image-preview-margin) * @cutaway-image-preview-count;
@cutaway-preferable-distance: 30px;

@cutaway-two-columns-width: (@cutaway-preferable-distance + @cutaway-width * 2);
@cutaway-media: (@cutaway-two-columns-width + @global-content-padding * 2) + 50px;

.cutaway {
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  width: @cutaway-width;
  .header {
    padding: @cutaway-header-padding;
    padding-right: @cutaway-header-padding-right;
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
  }
  &__avatar {
    .avatar(@cutaway-avatar-size);

    margin-right: @cutaway-header-padding;
    //box-shadow: inset 0 -4px 7px rgba(0, 0, 0, .3);
  }
  &__header-left-side {
    display: flex;
    align-items: center;
  }
  &__subscribe-button {
    .button(@cutaway-button-font-size);
  }

  &__subscribe-button:active,
  &__subscribe-button.button_active {
    .button-active(@cutaway-button-font-size);
  }

  &__outer-panel {
    position: relative;
    justify-content: flex-start;
    overflow: hidden;
    height: @cutaway-panel-height;
  }
  &__inner-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(to top, #1c1618, transparent);

    box-shadow: inset 0 5px 6px -5px rgba(255, 255, 255, 0.50), inset 0 -5px 6px -5px rgba(0, 0, 0, 0.55), inset -5px 0 6px -5px rgba(0, 0, 0, 0.55), inset 5px 0px 6px -5px rgba(0, 0, 0, 0.55);
  }
  &__preview-wrapper {
    position: relative;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    height: @cutaway-image-preview-size; //width: ~"calc(100% - @{cutaway-image-preview-margin} * 2)";
    margin-top: @cutaway-image-preview-margin;
  }
  &__top {
    align-self: flex-start;
    justify-content: flex-start;
    animation: home-top-scrolling 40s infinite linear;
  }
  &__bottom {
    align-self: flex-end;
    justify-content: flex-end;
    animation: home-bottom-scrolling 35s infinite linear;
  }
  &__image-preview {
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    height: 100%;
    width: @cutaway-image-preview-size;
    margin-right: @cutaway-image-preview-margin;
    background-color: #fff;
    color: #000;
  }
  &__image-preview:first-child {
    margin-left: @cutaway-image-preview-margin;
  }

  &__username {
    font-size: @large-font-size;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_new {
    animation: home-fading-in .5s ease-out 0s;
  }

}


.home {

  .screen-wrapper();
  flex-direction: column;
  align-items: center;


  &__cutaways-wrapper {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;

    //@media (max-width: @cutaway-media) {
    //  width: @cutaway-width;
    //}

  }

  &__spinner-wrapper {
    position: relative;
    height: @cutaway-preferable-distance;
  }

  &__spinner {
    position: relative;
    top: -@cutaway-preferable-distance / 4;
    width: @cutaway-preferable-distance;
    height: @cutaway-preferable-distance;
  }

  &__spinner.spinner_invisible {
    display: block;
    visibility: hidden;
  }

  &__cutaway {
    margin: @cutaway-preferable-distance / 2;
  }

  //&__cutaway:nth-child(2n+1) {
  //  margin-right: @cutaway-preferable-distance;
  //}
  //
  //&__cutaway:last-child {
  //  margin-right: 0;
  //}

  &__hint {
    margin: @global-vertical-distance 0;
    margin-bottom: @global-vertical-distance - @cutaway-preferable-distance / 2;
  }

  @media (max-width: @global-small-screen-width) {

    &__cutaway {
      margin: @cutaway-preferable-distance / 2 0;
    }

    &__cutaways-wrapper {
      max-width: none;
      width: 100%;
    }

    &__cutaway {
      width: 100%;
      flex-shrink: 1;
      min-width: 0;
    }

    &__cutaway:nth-child(2n+1) {
      margin-right: 0;
    }
  }

  @media (max-width: @global-xsmall-screen-width) {
    &__cutaway .cutaway__username {
      font-size: @large-font-size-xsmall-screen;
    }

    &__cutaway .cutaway__subscribe-button {
      .button(@cutaway-button-small-font-size);
    }

    &__cutaway .cutaway__avatar {
      .avatar(@global-small-size-ratio * @cutaway-avatar-size);
      margin-right: @global-small-size-ratio *  @cutaway-header-padding;
    }

  }

}



@keyframes home-top-scrolling {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-@cutaway-image-preview-wrapper-offset);
  }
}

@keyframes home-bottom-scrolling {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(@cutaway-image-preview-wrapper-offset);
  }
}

@keyframes home-fading-in {
  from {
    opacity: 0;
    transform: scale(.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
