@import "../window/style.less";

@auth-window-width: 400px;
@auth-window-panel-padding: 20px;


.auth-window {

  width: @auth-window-width;

  & div.window__panel {
    overflow: hidden;
    transition: height .3s ease-in-out 0s;
  }

  & form.window__panel {
    padding: @auth-window-panel-padding 0;
  }
  & .window__textbox {
    margin-top: 10px;
  }
  & .window__textbox:first-child {
    margin-top: 0;
  }
  & .window__message {
    margin-top: 20px;
    text-align: center;
  }
  & .window__button {
    margin-top: 40px;
  }

  &__form {
    opacity: 1;
    flex-shrink: 0;
    animation: auth-window-fading-in .3s ease-in-out 0s both;
  }

  &__form-fading-out {
    animation: auth-window-fading-out .3s ease-in-out 0s;
  }

  &__form_invisible {
    display: none;
  }
}

@keyframes auth-window-fading-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(-@auth-window-width, 0);
  }
}

@keyframes auth-window-fading-in {
  from {
    opacity: 0;
    transform: translate(@auth-window-width, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}