@dropdown-main-color: @global-main-color-light;
@dropdown-item-ver-padding: 6px;
@dropdown-item-hor-padding: 12px;

@dropdown-border-size: 2px;
@dropdown-animation: dropdown-appearing .2s ease-out 0s;

.dropdown {

  text-shadow: none;

  &__item-list {
    position: absolute;

    z-index: 5;
    display: none;

    overflow: hidden;

    right: 0;
    top: 0;
    //margin: @dropdown-border-size;
    padding: 0;

    list-style-type: none;

    box-shadow: 0 0 12px 4px rgba(0,0,0,.4);
    background-color: @global-main-color-light;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: @dropdown-item-ver-padding @dropdown-item-hor-padding;
    cursor: pointer;

    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;
  }

  &__item:hover {
    background-color: @global-main-color-medium;
  }

  &__item:hover &__icon {
    background-color: #000;
  }

  &__item:hover &__text {
  }

  &__icon {
    flex-shrink: 0;
    flex-grow: 0;

    width: 18px;
    height: 18px;
    margin-right: @dropdown-item-hor-padding;

    border-radius: 50%;

    background-color: @dropdown-main-color;
  }

  &__text,
  a&__text {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
  }

  //---

  &_active &__item-list {
    display: block;
    animation: @dropdown-animation;
  }

  &_regular-style {
    box-shadow: 0 0 0 @dropdown-border-size @dropdown-main-color, 0 0 10px 4px #000;
    border: solid 1px #000;
    color: @dropdown-main-color;
    background-color: #000;
  }

}


@keyframes dropdown-appearing {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
