@import "../../style/global.less";
@import "../../blocks/header/header.less";
@import "../../blocks/button/button.less";
@import "../../blocks/panel/panel.less";
@import "../../blocks/comment-section/comment-section.less";
@import "../../blocks/comment-send/comment-send.less";
@import "../../blocks/like-button/like-button.less";
@import "../../blocks/prompt-window/prompt-window.less";
@import '../../blocks/message-modal-window/message-modal-window';
@image-post-owner-avatar-size: 45px;
@image-post-header-height: 70px;
@image-post-padding: (@image-post-header-height - @image-post-owner-avatar-size) / 2;
@image-post-header-verp-padding: @image-post-padding;
@image-post-border-size: 2px;
@image-post-comment-send-height: 180px;
.image-post-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image-post {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: calc(~"100% - 50px");
    height: calc(~"100% - 50px"); //min-width: 90%;
    //min-height: 90%;
    //max-height: 100%;
    //height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 8px 10px rgba(0, 0, 0, .3);
    flex-shrink: 0;
    flex-grow: 0;
    &__image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        flex-shrink: 1;
        flex-grow: 1;
        background-color: #000;
    }
    &__image {
        flex-shrink: 0;
        flex-grow: 0;
    }
    &__sidebar {
        position: relative;
        box-sizing: border-box;
        height: 100%; // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        flex-shrink: 0;
        flex-grow: 0;
        width: 340px;
        min-width: 340px;
        background-color: @global-panel-color;
        border-left: solid @image-post-border-size #000;
    }
    &__top-side {
        position: relative;
        height: calc(~"100% - @{image-post-comment-send-height}");
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        height: @image-post-header-height;
        padding: 0 @image-post-header-verp-padding;
        border-bottom: solid @image-post-border-size #000;
    }
    &__header-left-side {
        display: flex;
    }
    &__avatar {
        .avatar(@image-post-owner-avatar-size);
        margin-right: @image-post-padding;
    }
    &__metadata {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__username {}
    &__post-date {
        font-size: 10px;
        line-height: 10px;
    }
    &__subscribe-button {
        .button(@small-font-size);
    }
    &__info-board {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 0;
        flex-shrink: 0;
        padding: @image-post-padding;
        border-bottom: solid @image-post-border-size #000;
        background-color: @global-panel-color;
    }
    &__like-button {
        margin-bottom: @image-post-padding;
    }
    &__description {}
    &__comment-section {
        position: relative;
        flex-grow: 1;
    }
    &__comment-sending-form {
        height: 150px;
        flex-shrink: 0;
    }
}
