@import "../button/button.less";

.upload-avatar-section {

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  max-width: inherit;

  &__avatar {
    .avatar(120px);
    flex-shrink: 1;
    position: relative;
    height: auto;
  }

  &__avatar:before{
    content: "";
    display: block;
    padding-top: 100%;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 20px;
  }

  &__file-picker {
    margin-bottom: 10px;
  }

  &__upload-button {
    .button(16px);
    margin-bottom: 10px;
  }

  &__delete-button {
    .button(13px);
  }

}