.comment {
  position: relative;
  box-sizing: border-box;

  padding: @image-padding;
  border-radius: 2px;
  border-bottom: solid @image-border-size #000;

  &__avatar {
    .avatar(42px);
    margin-right: @image-padding;
  }

  &__top-side {
    display: flex;
    margin-bottom: @image-padding;
  }

  &__ref {
    display: flex;
  }

  &__ref:hover &__username {
    //text-decoration: underline;
  }

  &__metadata {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__date {
    font-size: 10px;
    line-height: 10px;
  }

  &__close-button {
    position: absolute;
    visibility: hidden;

    right: @image-padding;
    top: @image-padding;

    width: 20px;
    height: 20px;

    background-color: red;

    cursor: pointer;
  }

  &:hover &__close-button {
    visibility: visible;
  }

  &_not-own &__close-button {
    display: none;
  }

  &_ghost {
    display: none;
  }
}
